# ADDING NEW ITEMS TO INVENTORY

In [29]:
menu = {'1': {"Name": " Cake", "Quantity": 145, "Price": 100},
'2':  {"Name": "chocolate", "Quantity": 324, "Price": 120},
'3':  {"Name": "ice cream", "Quantity": 314, "Price": 130},
'4':  {"Name": "bbq", "Quantity": 344, "Price": 150},
'5':  {"Name": "water", "Quantity": 344, "Price": 140},
'6':  {"Name": "juice", "Quantity": 342, "Price": 170},
'7':  {"Name": "dosa", "Quantity": 342, "Price": 107},
'8':  {"Name": "idly", "Quantity": 834, "Price": 190},
'9':  {"Name": "poori", "Quantity": 284, "Price": 180},
'10': {"Name": "pongal", "Quantity": 384, "Price": 103},
'11': {"Name": "rice", "Quantity": 384, "Price": 145},
'12': {"Name": "chapathi", "Quantity": 384, "Price": 123},
'13': {"Name": "parotta", "Quantity": 343, "Price": 180},
'14': {"Name": "egg rice", "Quantity": 364, "Price": 190},
'15': {"Name": "chicken rice", "Quantity": 394, "Price": 140},
'16': {"Name": "tandhoori", "Quantity": 343, "Price": 190},
'17': {"Name": "grill", "Quantity": 394, "Price": 160},
'18': {"Name": "fish curry", "Quantity": 346, "Price": 180},
'19': {"Name": "chicken curry", "Quantity": 346, "Price": 130},
'20': {"Name": "jamun", "Quantity": 346, "Price": 150},
'21': {"Name": "laddo", "Quantity": 346, "Price": 160},
'22': {"Name": "kesari", "Quantity": 934, "Price": 180},
'23': {"Name": "puff", "Quantity": 364, "Price": 120},
'24': {"Name": "seven up", "Quantity": 334, "Price": 130},
'25': {"Name": "red bull", "Quantity": 334, "Price": 180},
'26': {"Name": "boounto", "Quantity": 334, "Price": 140},
'27': {"Name": "chicken briyani", "Quantity": 334, "Price": 150},
'28': {"Name": "mutton briyani", "Quantity": 394, "Price": 140},
'29': {"Name": "prawn curry", "Quantity": 354, "Price": 120},
'30': {"Name": "fish briyani", "Quantity": 384, "Price": 110},
}

In [30]:
import json
vems = json.dumps(menu)

In [31]:
fd = open ("menu.json","w")
fd.write(vems)
fd.close()

In [32]:
#fd = open("menu.json",'r')
#vemz = fd.read()
#fd.close()

In [33]:
fd = open("menu.json",'r')
r = fd.read()
fd.close()

In [ ]:
product_id = str(input("Enter product id:"))
Name = str(input("Enter name:"))
Price = int(input("Enter price:"))
Quantity = int(input("Enter quantity:"))

menu[product_id] = {'Name': Name, 'Price': Price, 'Quantity': Quantity }

vems = json.dumps(menu)

fd = open("menu.json",'w')
fd.write(js)
fd.close()

In [28]:
menu

{'1': {'Name': ' Cake', 'Quantity': 145, 'Price': 100},
 '2': {'Name': 'chocolate', 'Quantity': 324, 'Price': 120},
 '3': {'Name': 'ice cream', 'Quantity': 314, 'Price': 130},
 '4': {'Name': 'bbq', 'Quantity': 344, 'Price': 150},
 '5': {'Name': 'water', 'Quantity': 344, 'Price': 140},
 '6': {'Name': 'juice', 'Quantity': 342, 'Price': 170},
 '7': {'Name': 'dosa', 'Quantity': 342, 'Price': 107},
 '8': {'Name': 'idly', 'Quantity': 834, 'Price': 190},
 '9': {'Name': 'poori', 'Quantity': 284, 'Price': 180},
 '10': {'Name': 'pongal', 'Quantity': 384, 'Price': 103},
 '11': {'Name': 'rice', 'Quantity': 384, 'Price': 145},
 '12': {'Name': 'chapathi', 'Quantity': 384, 'Price': 123},
 '13': {'Name': 'parotta', 'Quantity': 343, 'Price': 180},
 '14': {'Name': 'egg rice', 'Quantity': 364, 'Price': 190},
 '15': {'Name': 'chicken rice', 'Quantity': 394, 'Price': 140},
 '16': {'Name': 'tandhoori', 'Quantity': 343, 'Price': 190},
 '17': {'Name': 'grill', 'Quantity': 394, 'Price': 160},
 '18': {'Name': 'fish curry', 'Quantity': 346, 'Price': 180},
 '19': {'Name': 'chicken curry', 'Quantity': 346, 'Price': 130},
 '20': {'Name': 'jamun', 'Quantity': 346, 'Price': 150},
 '21': {'Name': 'laddo', 'Quantity': 346, 'Price': 160},
 '22': {'Name': 'kesari', 'Quantity': 934, 'Price': 180},
 '23': {'Name': 'puff', 'Quantity': 364, 'Price': 120},
 '24': {'Name': 'seven up', 'Quantity': 334, 'Price': 130},
 '25': {'Name': 'red bull', 'Quantity': 334, 'Price': 180},
 '26': {'Name': 'boounto', 'Quantity': 334, 'Price': 140},
 '27': {'Name': 'chicken briyani', 'Quantity': 334, 'Price': 150},
 '28': {'Name': 'mutton briyani', 'Quantity': 394, 'Price': 140},
 '29': {'Name': 'prawn curry', 'Quantity': 354, 'Price': 120},
 '30': {'Name': 'fish briyani', 'Quantity': 384, 'Price': 110},
 '32 ': {'Name': 'bike', 'Price': 5000, 'Quantity': 5}}

In [18]:
del menu ['31']

In [19]:
menu

{'1': {'Name': ' Cake', 'Quantity': 145, 'Price': 100},
 '2': {'Name': 'chocolate', 'Quantity': 324, 'Price': 120},
 '3': {'Name': 'ice cream', 'Quantity': 314, 'Price': 130},
 '4': {'Name': 'bbq', 'Quantity': 344, 'Price': 150},
 '5': {'Name': 'water', 'Quantity': 344, 'Price': 140},
 '6': {'Name': 'juice', 'Quantity': 342, 'Price': 170},
 '7': {'Name': 'dosa', 'Quantity': 342, 'Price': 107},
 '8': {'Name': 'idly', 'Quantity': 834, 'Price': 190},
 '9': {'Name': 'poori', 'Quantity': 284, 'Price': 180},
 '10': {'Name': 'pongal', 'Quantity': 384, 'Price': 103},
 '11': {'Name': 'rice', 'Quantity': 384, 'Price': 145},
 '12': {'Name': 'chapathi', 'Quantity': 384, 'Price': 123},
 '13': {'Name': 'parotta', 'Quantity': 343, 'Price': 180},
 '14': {'Name': 'egg rice', 'Quantity': 364, 'Price': 190},
 '15': {'Name': 'chicken rice', 'Quantity': 394, 'Price': 140},
 '16': {'Name': 'tandhoori', 'Quantity': 343, 'Price': 190},
 '17': {'Name': 'grill', 'Quantity': 394, 'Price': 160},
 '18': {'Name': 'fish curry', 'Quantity': 346, 'Price': 180},
 '19': {'Name': 'chicken curry', 'Quantity': 346, 'Price': 130},
 '20': {'Name': 'jamun', 'Quantity': 346, 'Price': 150},
 '21': {'Name': 'laddo', 'Quantity': 346, 'Price': 160},
 '22': {'Name': 'kesari', 'Quantity': 934, 'Price': 180},
 '23': {'Name': 'puff', 'Quantity': 364, 'Price': 120},
 '24': {'Name': 'seven up', 'Quantity': 334, 'Price': 130},
 '25': {'Name': 'red bull', 'Quantity': 334, 'Price': 180},
 '26': {'Name': 'boounto', 'Quantity': 334, 'Price': 140},
 '27': {'Name': 'chicken briyani', 'Quantity': 334, 'Price': 150},
 '28': {'Name': 'mutton briyani', 'Quantity': 394, 'Price': 140},
 '29': {'Name': 'prawn curry', 'Quantity': 354, 'Price': 120},
 '30': {'Name': 'fish briyani', 'Quantity': 384, 'Price': 110},
 '31 ': {'Name': 'car', 'Price': 50000, 'Quantity': 52},
 '32': {'Name': 'car', 'Price': 55, 'Quantity': 45}}

In [20]:
del menu['32']

In [21]:
menu

{'1': {'Name': ' Cake', 'Quantity': 145, 'Price': 100},
 '2': {'Name': 'chocolate', 'Quantity': 324, 'Price': 120},
 '3': {'Name': 'ice cream', 'Quantity': 314, 'Price': 130},
 '4': {'Name': 'bbq', 'Quantity': 344, 'Price': 150},
 '5': {'Name': 'water', 'Quantity': 344, 'Price': 140},
 '6': {'Name': 'juice', 'Quantity': 342, 'Price': 170},
 '7': {'Name': 'dosa', 'Quantity': 342, 'Price': 107},
 '8': {'Name': 'idly', 'Quantity': 834, 'Price': 190},
 '9': {'Name': 'poori', 'Quantity': 284, 'Price': 180},
 '10': {'Name': 'pongal', 'Quantity': 384, 'Price': 103},
 '11': {'Name': 'rice', 'Quantity': 384, 'Price': 145},
 '12': {'Name': 'chapathi', 'Quantity': 384, 'Price': 123},
 '13': {'Name': 'parotta', 'Quantity': 343, 'Price': 180},
 '14': {'Name': 'egg rice', 'Quantity': 364, 'Price': 190},
 '15': {'Name': 'chicken rice', 'Quantity': 394, 'Price': 140},
 '16': {'Name': 'tandhoori', 'Quantity': 343, 'Price': 190},
 '17': {'Name': 'grill', 'Quantity': 394, 'Price': 160},
 '18': {'Name': 'fish curry', 'Quantity': 346, 'Price': 180},
 '19': {'Name': 'chicken curry', 'Quantity': 346, 'Price': 130},
 '20': {'Name': 'jamun', 'Quantity': 346, 'Price': 150},
 '21': {'Name': 'laddo', 'Quantity': 346, 'Price': 160},
 '22': {'Name': 'kesari', 'Quantity': 934, 'Price': 180},
 '23': {'Name': 'puff', 'Quantity': 364, 'Price': 120},
 '24': {'Name': 'seven up', 'Quantity': 334, 'Price': 130},
 '25': {'Name': 'red bull', 'Quantity': 334, 'Price': 180},
 '26': {'Name': 'boounto', 'Quantity': 334, 'Price': 140},
 '27': {'Name': 'chicken briyani', 'Quantity': 334, 'Price': 150},
 '28': {'Name': 'mutton briyani', 'Quantity': 394, 'Price': 140},
 '29': {'Name': 'prawn curry', 'Quantity': 354, 'Price': 120},
 '30': {'Name': 'fish briyani', 'Quantity': 384, 'Price': 110},
 '31 ': {'Name': 'car', 'Price': 50000, 'Quantity': 52}}